@import "colors";
@import "fonts";

@import "1header";
@import "2mainSection";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  background-color: $veryLightGrayishBlue;
  
  &::before{
    position: absolute;
    content: "";
    background-image: url("../images/bg-top.svg");
    background-position: top right;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: -1;
  }

  &::after{
    position: absolute;
    content: "";
    background-image: url("../images/bg-bottom.svg");
    background-position: bottom left;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -1;
  }

  #checkboxSwitch {
    display: none;
  }

  #checkboxSwitch:checked ~ header .flexWrapper {
    label .outerBtn .switch {
      left: -18px;
    }
  }

  #checkboxSwitch:checked ~ main .card {
    h2:first-of-type {
      display: none;
    }
    h2:last-of-type {
      display: block;
    }
  }
}
